.layout{

    background-color: rgba(92, 91, 91, 0.12);
    border-radius: 20px;
    backdrop-filter: blur(50px);
    border: 1px solid rgb(241, 241, 241, 0.12);

    display: grid;
    grid-template-columns: 1fr 3fr;
    overflow: hidden;

    width: 100%;
    height: 500px;

    box-shadow: 0 20px 40px rgba(0,0,0,0.2);


}


