@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&display=swap" rel="stylesheet');
body{
    background: linear-gradient(45deg, #0a0a0a, #0f0f0f, #000000);
    background-image: url('../public/wallpaper2.jpg');
    background-size: cover;
    


    display: flex;
    justify-content: center;
    align-items: center;
    
    margin: 0;
    height: 100vh;
    color: rgb(231, 231, 229);
}

*{
    box-sizing: border-box;
    font-family: 'Bricolage+Grotesque';
}

